---
---
@import "{{ site.theme }}";

/* Allarga la pagina a tutto schermo */
.wrapper {
  max-width: 95% !important;
  margin: 0 auto;
}

/* Rende i grassetti più marcati */
strong, b {
  color: #000; /* Nero profondo */
  font-weight: 800;
}

/* Rende i corsivi eleganti */
em, i {
  color: #333;
  font-style: italic;
}

/* Opzionale: aggiunge una linea sotto i titoli per dare struttura */
h1, h2, h3 {
  border-bottom: 1px solid #eee;
  padding-bottom: 0.3rem;
}
